body {
    background: #f9f9f9;
    display: flex;
    height: 100vh;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: yellow;
}

.rating label:hover,
.rating label:hover ~ label {
    color: yellow;
}


